@tailwind base;
@tailwind components;
@tailwind utilities;
/* global */
.input {
  @apply w-full border rounded px-3 py-2;
}

@keyframes scale {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scale {
  animation: scale 0.15s ease-out;
}
